<div class="content">
  
  <h2><%= link_to "Quizzes", quizzes_path %></h2>
  
  <p>Quizzes are multiple choice questions where the user chooses a single answer. Checking the "Allow Other Entry" checkbox will allow the user to enter their own answer instead of choosing one of the pre-set ones.</p>
    
  <h2><%= link_to "Pageviews", pageviews_path %></h2>

  <p>Pageviews are clickable screenshots paired with a question. The results are viewable as individual clicks or a "heat map" grid.</p>

<!--
  <h2><%= link_to "Card sort", card_sorts_path %></h2>

  <p>Description forthcoming!</p>
-->

</div>