<p>Great! We appreciate your time. When you're done, you can click "Back to NYPL.org" in the upper right corner.</p>
<p>
  <%= link_to "Got it! Take me on to the questions!", "/participate", :class => "participate" %>
</p>