<h2>On the next page, we'll ask you a question.</h2>

<p>Please make your browser window as large as possible, and answer quickly with your first impression.</p>

<p>Don't worry, there are no right or wrong answers!</p>


<div class="participate_links">
  <table>
  <tr>
  <td class="yes"><%= link_to "READY? GET STARTED!", "/participate", :class => "participate" %></td> 
  </tr>
  </table>
</div>

