<h2>About Infomaki</h2>

<p>The Infomaki project is the usability software produced by the <%= link_to "Digital Experience Group", "http://labs.nypl.org/" %> of the New York Public Library. It is a tool for getting quick feedback on the ease of use of our web sites.</p>

<p>This project will have an Open Source release in the near future. If you're interested in using this software, subscribe to the <%= link_to "NYPL Labs", "http://labs.nypl.org/" %> blog for updates.</p>