<h1>Thanks anyway!</h1>

<h2>We appreciate your time.</h2>

<p>Feel free to return here at any time.</p>

<div class="participate_links">
  <table>
  <tr>
  <td class="yes"><%= link_to "Back to the NYPL.org home page", "http://www.nypl.org/" %></td> 
  </tr>
  </table>
</div>

<%= render :partial => "shared/forward_message" %>
